@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
}
html {
  font-size: 10px;
}
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}
header {
  background-color: #2b2e35;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}
.logo {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
}
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.links a {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 1rem;
  text-decoration: none;
  color: #5cbc96;
  border-bottom: 1px solid transparent;
  transition: ease 400ms;
}
.links a:hover {
  border-bottom: 1px solid #4fb68d;
  transition: ease 400ms;
}
.search {
  border: 1px solid #4fb68d;
  border-radius: 3rem;
  padding: 1rem;
}
.search input {
  font-size: 1.5rem;
  border: none;
  outline: none;
  background-color: transparent;
}
.search .fas {
  font-size: 1.5rem;
  cursor: pointer;
}
.carttemplate {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.mycart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}
.mycart .money {
  color: #4fb68d;
}
.cart {
  font-size: 2rem;
  color: white;
  width: 4rem;
  height: 4rem;
  border: 1px solid #4fb68d;
  padding: 1rem;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart .fas {
  color: white;
}
.countcart {
  position: absolute;
  right: 0;
  top: 2%;
  font-size: 1rem;
  min-width: 1.2rem;
  max-width: 1.2rem;
  min-height: 1.2rem;
  max-height: 1.2rem;
  padding: 0.25rem;
  background-color: #4fb68d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.side-options {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
}
.side-options li {
  margin: 0;
  list-style-type: none;
  font-size: 2rem;
  display: flex;
}
.side-options div {
  display: flex;
  cursor: pointer;
  color: white;
  justify-content: center;
  align-items: center;
  min-width: 4rem;
  max-width: 4rem;
  min-height: 4rem;
  max-height: 4rem;
  background-color: #4fb68d;
}
.side-options span {
  display: none;
  background-color: #5cbc96;
  min-height: 4rem;
  max-height: 4rem;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.side-options li:hover span {
  display: flex;
}
.banner {
  background-image: url('6-63195_food-wallpaper-foods-wallpaper-hd.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  position: relative;
  margin-bottom: 1rem;
}
.offer {
  position: absolute;
  bottom: 10vw;
  right: 3rem;
  width: 50vw;
  text-align: center;
}
.offer h3 {
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
}
.offer p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.offer button {
  cursor: pointer;
  border: 2px solid #5cbc96;
  outline: none;
  background-color: transparent;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  transition: ease 400ms;
}
.offer button:hover {
  transition: ease 400ms;
  border: 2px solid white;
  background-color: white;
  color: #5cbc96;
}
.new {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}
.new h3 {
  color: #2b2e35;
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  padding: 0 2rem 0.25rem;
  border-bottom: 1px solid #5cbc96;
  margin-bottom: 1rem;
}
h3 .fa-stopwatch {
  color: #4fb68d;
}
.selection {
  font-size: 1.25rem;
  margin: 2rem 0;
}
.selection span {
  margin: 0 1rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: ease 400ms;
  color: #2b2e35;
}
.selection span:hover {
  color: #4fb68d;
  transition: ease 400ms;
}
.selection .active {
  border: 1px dashed #4fb68d;
  padding: 1rem;
  border-radius: 1.5rem;
  color: #4fb68d;
}
.products {
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 1rem;
  grid-column-gap: 1.5rem;
  width: 90vw;
}
.container {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  border: 1px solid #4fb68d;
}
.action {
  height: 20rem;
  background-image: url('1-300x300.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 1.5rem;
  transition: ease 400ms;
  position: relative;
}
.action div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.action i {
  color: #4fb68d;
  background-color: #fff;
  border-radius: 1rem;
  padding: 0.5rem;
  display: none;
  transition: ease 400ms;
}
.container:hover .action i {
  display: initial;
  transition: ease 400ms;
}
.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 10rem;
}
.name {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.name span,
.name i {
  color: #2b2e35;
}
.rating {
  padding: 0.5rem 1rem;
}
.rating .fa-star {
  color: black;
}
.price {
  color: #4fb68d;
  padding: 0 1rem .5rem;
}
.comprehensive {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url("679975.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem;
  font-size: 2rem;
}
.store {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.comprehensive h2 {
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1rem;
}
.comprehensive li {
  list-style: none;
}
.comprehensive ul {
  display: flex;
  text-align: left;
  flex-direction: column;
}
.comprehensive i {
  padding-right: 0.75rem;
}
.store-connect {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.store-connect div,
.store-connect a {
  text-decoration: none;
  display: flex;
  margin-bottom: 1rem;
}
@media (max-width: 850px) {
  .links a {
    font-size: 1.2rem;
  }
  .search {
    font-size: 1.2rem;
  }
  .carttemplate {
    display: none;
  }
  .products {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .logo {
    font-size: 1.75rem;
  }
}
@media (max-width: 650px) {
  .links {
    display: none;
  }
  .banner {
    height: 40rem;
  }
  .offer {
    width: 60vw;
  }
  .offer h3 {
    font-size: 2rem;
  }
  .offer p {
    font-size: 1.25rem;
  }
  .products {
    grid-template-columns: 1fr 1fr;
  }
  .selection span {
    font-size: 0.8rem;
    margin: 0.15rem;
  }
  .selection .active {
    border: 1px dashed #4fb68d;
    padding: 0.5rem;
    border-radius: 1.5rem;
    color: #4fb68d;
  }
  .comprehensive {
   grid-template-columns: 1fr;
   font-size: 1.25rem;
  }
  .comprehensive h2 {
   font-size: 2rem;
  }
}
